<% add_decidim_page_title(t("devise.sessions.new.log_in")) %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="flex justify-center">
    <h1 class="title-decorator my-12"><%= t("devise.sessions.new.log_in") %></h1>
  </div>

  <div class="login__info font-semibold">
    <% if current_organization.sign_up_enabled? %>
      <p>
        <%= t("decidim.devise.sessions.new.are_you_new?") %>
        <%= link_to t("decidim.devise.sessions.new.register"), new_user_registration_path %>
      </p>
    <% elsif current_organization.sign_in_enabled? %>
      <p>
        <%= t("decidim.devise.sessions.new.sign_up_disabled") %>
      </p>
    <% else %>
      <p>
        <%= t("decidim.devise.sessions.new.sign_in_disabled") %>
      </p>
    <% end %>
  </div>

  <span class="login__info-separator"></span>

  <% cache current_organization do %>
    <%= render "decidim/devise/shared/omniauth_buttons" %>
  <% end %>

 
<% end %>
